@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
html{
    height: auto !important;
}
body{
    font-size: 17px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Jeju Gothic', sans !important;
    background-position: top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    line-height: normal !important;
    height: auto !important;
}
::selection{
    background-color: #001E6A !important;;
    color: #ffffff !important;
}
header{
    width: 100% !important;
    height: 48px !important;
    position: fixed !important;
    border-bottom: 1px #ffffff solid !important;
    text-align: right !important;
    background-color: rgba(255, 255, 255, 0.45) !important;
}
header img{
    width: 200px !important;
    float: left !important;
    margin-left: 10px !important;
    margin-top: 5px !important;

}
ul{
    list-style: none !important;
    display: inline-flex !important;
    margin-right: 100px !important;
}
li{
    margin-left: 40px !important;
}
li a{
    color: #444444 !important;
    text-decoration: none !important;
}
li a :visited{
    color: #444444 !important;
    text-decoration: none !important;
}
li a :hover{
    color: #001E6A !important;
    text-decoration: none !important;
}
li a :link{
    color: #444444 !important;
    text-decoration: none !important;
}
li a :focus{
    color: black !important;
    text-decoration: none !important;
}
section{
    text-align: center !important;
}
#slogan{
    font-family: 'Nanum Myeongjo' !important;
    letter-spacing: 4px !important;
    padding-top: 200px !important;
    color: #ffffff !important;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4) !important;
    font-size: 26px !important;
}
article{
    width: 70% !important;
    height: auto !important;
    padding: 20px 30px 30px 30px !important;
    text-align: left !important;
    background-color: #ffffff !important;
    display: inline-block !important;
    margin-top: 150px !important;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.35) !important;
    overflow: overlay !important;
}
article img{
    width: 35px !important;
    vertical-align: text-bottom !important;
}
#title{
    display: inline-block !important;
    background-color: #001E6A !important;
    color: #ffc801 !important;
    padding-top: 5px !important;
    padding-right: 15px !important;
    padding-bottom: 2px !important;
    padding-left: 15px !important;
    margin-bottom: 20px !important;
    font-size: 28px !important;
}
video{
    width: 100% !important;
    display: block !important;
}
footer{
    width: 100% !important;
    margin-top: 30px !important;
    padding: 30px 0px 20px 0px !important;
    text-align: center !important;
    background-color: #eeeeee !important;
    color: #444444 !important;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #696969;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    line-height: 28px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #696969 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}