<% include ../common/index-top.ejs %>
        <article>
          <img src="images/icon/icon_day.png">
          <div id="title">
              By Day
          </div>
          <div class="ui compact menu">
              <div class="ui simple dropdown item">
                  2018.10.20
                  <i class="dropdown icon"></i>
                  <div class="menu">
                  <div class="item">2018.10.20</div>
                  <div class="item">2018.10.21</div>
                  <div class="item">2018.10.22</div>
                  </div>
              </div>
          </div>
          <canvas id="dayChart" width="400" height="250"></canvas>
        </article>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        
        <script>
            var ctx = document.getElementById("dayChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: ["10.12", "10.13", "10.14", "10.15", "10.16"],
                datasets: [{
                    label: 'car',
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.3)',
                    data: [34, 11, 50, 11, 46],
                }, {
                    label: 'suv',
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.3)',
                    data: [44, 34, 17, 16, 7],
                }, {
                    label: 'truck',
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.3)',
                    data: [14, 9, 12, 7, 16],
                }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                    },
                    hover: {
                        mode: 'index'
                    },
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: '날짜'
                            }
                        }],
                        yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                labelString: '차량 수'
                            },
                            ticks: {
                                max: 130
                            }
                        }]
                    }
                }
            });
            </script>
            <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css">
            <script
              src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
            <script src="semantic/semantic.min.js"></script>
<% include ../common/index-bottom.ejs %>