<% include ../common/index-top.ejs %>
        <article>
            <img src="images/icon/icon_day.png">
            <div id="title">
                By Day
            </div>
            <div class="ui form">
                <div class="two fields">
                <div class="field">
                    <label>Start date</label>
                    <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Start">
                    </div>
                    </div>
                </div>
                <div class="field">
                    <label>End date</label>
                    <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="End">
                    </div>
                    </div>
                </div>
                </div>
            </div>
          <canvas id="dayChart" width="400" height="250"></canvas>
        </article>
        <% include ./script.ejs %>
<% include ../common/index-bottom.ejs %>