<% include ../common/index-top.ejs %>
        <article>
          <img src="images/icon/icon_cctv.png">
          <div id="title">
              CCTV
          </div>
          <iframe width="420" height="315"
          src="https://www.youtube.com/embed/gYQA7ODBw_M">
          </iframe>
        </article>
<% include ../common/index-bottom.ejs %>