<% include ../common/index-top.ejs %>
        <article>
          <img src="images/icon/icon_cctv.png">
          <div id="title">
            CCTV
          </div>
          <video width="420" height="515" controls>
            <source src="resource/movie.mp4" type="video/mp4">
            <source src="resource/movie.mp4" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </article>
<% include ../common/index-bottom.ejs %>