<% include ../common/index-top.ejs %>
        <article>
            <img src="images/icon/icon_time.png">
            <div id="title">
                By Time
            </div>
            <div class="ui compact menu">
                <div class="ui simple dropdown item" id="head">
                    <%= defaultDate %>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <% for(i in dates){ %>
                            <div class="item date"><%= dates[i] %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <canvas id="timeChart" width="400" height="250"></canvas>
        </article>
        <% include ./script.ejs %>        
<% include ../common/index-bottom.ejs %>